body {
	font-family: '微软雅黑', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* menu banner */
.ui.inverted.borderless.menu {
	border-radius: 0;
	max-height: 50px;
	margin-bottom: 0em;
}

.brief-introduction > .segment {
	margin: 0;
	border-radius: 0;
	border-width: 0;
}

.movie-image > img {
	width: 250px;
	height: 360px;
}

.people {
	margin: 20px 0 20px 0;
}

.people .header{
	display: inline;
	margin-right: 1em;
}

.introduction > .segment {
	margin: 0;
	border-radius: 0;
	border-width: 0;
	background-color: rgb(244,244,244);
}

.brief-introduction .container {
	margin: 20px 0 20px 0;
}

.introduction .container {
	width: 60%;
	margin: 20px 0 50px 0;
}

.introduction .content {
	margin-bottom: 2em;
}